body {
    background: #a6a4a4;
}

.header {
    background: url("../img/bgtec.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.header img{
 width: 25vw;
 height: 25vw;
 margin-left: 39%;
}

.mainav {
    
    margin-top: -0.3%;
    height: 30px;
    border: 1px solid black;
    background: #7f7971;
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    padding: 2px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
}



.mainav ul,li{
    display: inline;
    padding: 5px;
    
}

.mainav ul{

    margin-left: 37%;
}

.redondo{
    border-radius: 50%;
}


