body {
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

#container {
    margin: 1em auto;
    width: 650px;
    background-color: #fff0;
}

#header {background: #CF3;}

#mainav {background: #9f3;}

#menu {
    float: right;
    width: 165px;
    background: #6f9;
}

#contents {
    float: left;
    width: 440px;
    background: #9fc;
    margin: 0 0 0 20px;
}

#footer {
    clear: both;
    background: #ff9;
}